/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
   border-bottom: 1px solid var(--hero-border-color);
   background-image:url('/static/img/network.jpg');
   background-repeat:no-repeat;
   background-position:50% 50%;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
